"*":
  "autocomplete-jedi":
    includeCompletionsFromAllBuffers: true
  core:
    disabledPackages: [
      "activate-power-mode"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 17
    invisibles: {}
    showIndentGuide: true
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  pandoc: {}
  "rst-preview": {}
  "tabs-to-spaces":
    onSave: "untabify"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
